

<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Specific Product </span></div>
        <div class="panel-body">
            <div class="formcontainer">
                <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
                <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
                <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">


                    <input type="hidden" ng-model="ctrl.productId" />


                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="productName">Name</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.productName" id="productName" class="form-control input-sm" placeholder="Enter Name" required ng-minlength="3"/>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="productDesc">Description</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.productDesc" id="productDesc" class="form-control input-sm" placeholder="Enter description " required ng-minlength="3"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="productPrice">Price</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.productPrice" id="productPrice" class="form-control input-sm" placeholder="Enter Price" required ng-pattern="ctrl.onlyNumbers"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="productParentId">Parent ID</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.productParentId" id="productParentId" class="form-control input-sm" placeholder="Enter parent ID" required ng-pattern="ctrl.onlyNumbers"/>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit"  value="{{!ProductController.productId ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid || myForm.$pristine">
                            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Products</span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>PARENT ID</th>
                        <th>NAME</th>
                        <th>DESCRIPTION</th>
                        <th>PRICE</th>
                        <th>CREATED DATE</th>
                        <th>UPDATED DATE</th>
                        <th width="100"></th>
                        <th width="100"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in ctrl.getAllProducts()">
                        <td>{{u.productId}}</td>
                        <td>{{u.productParentId}}</td>
                        <td>{{u.productName}}</td>
                        <td>{{u.productDescr}}</td>
                        <td>{{u.productPrice}}</td>
                        <td>{{u.productCreatedTs}}</td>
                        <td>{{u.productUpdatedTs}}</td>
                        <td><button type="button" ng-click="ctrl.editProduct(u.productId)" class="btn btn-success custom-width">Edit</button></td>
                        <td><button type="button" ng-click="ctrl.removeProduct(u.productId)" class="btn btn-danger custom-width">Remove</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

